---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Carrousel from '../components/Carrousel.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<section class="w-full p-6 mx-auto container lg:max-w-[1110px] md:max-w-[710px] flex flex-col items-center gap-10 sm:gap-16 lg:gap-20">
				<Hero />
		</section>
		<section class="w-full p-6 mx-auto container lg:max-w-[1110px] md:max-w-[710px] flex flex-col lg:flex-row items-center gap-10 sm:gap-16 lg:gap-20">
				<About />
		</section>
		<Carrousel />
		<section class="w-full p-6 mx-auto container lg:max-w-[1110px] md:max-w-[710px] flex flex-col lg:flex-row items-center gap-10 sm:gap-16 lg:gap-20">
				<Contact />
		</section>
	</main>
</Layout>
