---
const { type = 'primary' } = Astro.props;

let clase = "bg-neutral-900 hover:bg-galactic_blue-500";
if (type === 'secondary') {
    clase = "bg-light_red-500 hover:bg-summer_yellow-500";
}
---
<button type="button" class=`transition duration-300 ease-in-out not-odd:py-3 sm:py-4 px-6 sm:px-12 rounded-full text-neutral-200 font-bold h-14 ' ${clase}`>
        Free Consultation
</button>