---
import Grid from '../components/Grid.astro';
---
<h1 class="text-neutral-900 text-[40px] sm:text-[56px] leading-[1.2] sm:leading-[1.3] font-bold text-center w-[343px] sm:w-[704px] md:w-full">Design solutions made easy</h1>

<p class="text-neutral-400 text-lg text-center w-[343px] sm:w-[704px] md:w-full px-6">With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.
</p>

<Grid />