---
import Button from './Button.astro';
---
<nav class="flex flex-row justify-between mx-6">
    <img class="h-[52px] sm:h-16" src="assets/logo.svg" alt="logo" />
    <Button type="primary" />
</nav>