---
// Supports weights 200-800
import '@fontsource-variable/plus-jakarta-sans';

import '../styles/global.css';

import NavBar from '../components/NavBar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  
  		<title>Frontend Mentor | Single-page design portfolio</title>
	</head>
	<body class="bg-neutral-200 text-neutral-900">
		<header>
			<section class="w-full py-6 mx-auto container lg:max-w-[1110px] md:max-w-[710px]">
				<NavBar />
			</section>
		</header>
		<slot />
		<footer>
			<section class="w-full py-6 mx-auto container lg:max-w-[1110px] md:max-w-[710px]">
				<NavBar />
			</section>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
